#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0 auto;
  margin-top: 60px;
}

.fill-width {
  width: 100%;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 2em;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 2em;
}

.state,
.state-body {
  width: 100%;
}

.state-body > .vm {
  padding: 1em;

  display: grid;
  gap: 0.5em;
  // https://stackoverflow.com/a/46426076
  // left column shrinks, right one grows.
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto auto auto auto auto;

  align-items: center;

  .vm-title {
    grid-column-start: 1;
    font-weight: bold;
    &.stack-title {
      grid-row-start: 1;
    }
    &.env-title {
      grid-row-start: 2;
    }
    &.control-title {
      grid-row-start: 3;
    }
    &.dump-title {
      grid-row-start: 4;
    }

    &.ctx-title {
      grid-row-start: 5;
    }
  }

  .vm-body {
    grid-column-start: 2;
    &.stack-body {
      grid-row-start: 1;
    }
    &.env-body {
      grid-row-start: 2;
    }
    &.control-body {
      grid-row-start: 3;
    }
    &.dump-body {
      grid-row-start: 4;
    }
    &.ctx-body {
      grid-row-start: 5;
    }
    .vm-op:hover,
    .vm-env:hover:not(.complex),
    .vm-val:hover:not(.complex),
    .vm-cons:hover {
      background-color: #dad7d7;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25em;
}

.stack-body {
  border: 1px solid orange;
  padding: 0.5em;
}

.env-body {
  border: 1px solid green;
  padding: 0.5em;
  gap: 1.5em;
}

.control-body {
  border: 1px solid #60b5cc;
  padding: 0.5em;
}

.dump-val {
  border: 1px dotted red;
  padding: 0.5em;
}
